body{
    font-family: 'Poppins', sans-serif;
}
.is-center{
    justify-content: center;
    align-items: center;
    align-content: center;
}

/*NAV*/
.navbar{
    min-height: 20vh;
    background-image: linear-gradient(to right, #f19ac0, #fa85ab, #ff6f91, #ff5972, #ff444f, #f74f39, #eb5a23, #de6500, #cc7c01, #bb8e1d, #ab9c39, #9fa756);
}

.btn-nav{
    color: white;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.title-app{
    color: white;
    font-size: 40px;
    font-weight: 600;
}

.navbar-burger{
    color: white;
}

/*VISTA JOBS*/
.search-select{
    margin: 10px 0px 10px 10px;
    width: 25vh;
}

.card-job{
    width: 35vh;
    min-height: 80vh;
    margin: 10px;
}

.card-description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn-color{
    background-color: #9fa756;
    color: white;
    border: 1px solid white;
}

.btn-color:hover{
    background-color:#f74f39;
    color: white;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-details{
    background-color: transparent;
    color: #f74f39;
    border: 1px solid #f74f39;
}

.btn-details:hover{
    background-image:linear-gradient(to right, #f19ac0, #fa85ab, #ff6f91, #ff5972, #ff444f, #f74f39, #eb5a23, #de6500, #cc7c01, #bb8e1d, #ab9c39, #9fa756);
    color: white;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*Forms*/
textarea{
    min-height: 200px;
    border-radius: 10px;
}

.figure-preview{
    margin: auto;
    margin-top: 30px;
    width: 300px;
    height: 400px;
    background-color: gainsboro;
    background-position: center;
    background-size: cover;
}

/*Detalle*/
.image-details{
    width: 250px;
    margin: auto;
}

.modal-background{
    background-color: rgba(255, 255, 255, 0.636);
}

.modal-content{
    background-color: white;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.modal-text{
    font-size: 20px;
    color: #000000;
}

/*Footer*/
footer{
    height: 10vh;
}

/*Loader*/
.loader {
    width: 100px;
    height: 38px;
    display: inline-block;
    background: linear-gradient(45deg, #9db451 25%, transparent 25%, transparent 75%, #9db451 75%, #9db451 100%), linear-gradient(45deg, #9db451 25%, #f591a9 25%, rgb(215, 160, 172) 75%, #9db451 75%, #9db451 100%);
    font-size: 10px;
    background-size: 32px 32px;
    box-sizing: border-box;
    animation: raceBoard 0.8s linear infinite;
    background-position: 0 0, 16px 16px;
    border-radius: 0;
}


@keyframes raceBoard {
    0% {
        background-position: 0 0, 16px 16px;
    }

    100% {
        background-position: 32px 0px, 48px 16px;
    }
}

/*Query*/

@media (max-width: 1023px){
    .navbar{
        min-height: 10vh;
        margin: auto;
        padding: 10px 0px;
    }
    .navbar-menu{
        display: none;
        width: 100%;
        background-image: linear-gradient(to right, #f19ac0, #fa85ab, #ff6f91, #ff5972, #ff444f, #f74f39, #eb5a23, #de6500, #cc7c01, #bb8e1d, #ab9c39, #9fa756);
    }
}

@media (max-width: 700px){
    .search-bar{
        display: flex;
        flex-direction: column;
    }
    .title-app{
        font-size: 30px;
    }
    .figure-preview{
        width: 200px;
        height: 300px;
        margin: auto;
    }
    .modal-content{
        flex-direction: column;
    }
    .container-btn-details{
        flex-direction: column;
    }
}